<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Thanks Diary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="header">
    <a target="_top"><img src="https://blog.flamingtext.com/blog/2020/01/29/flamingtext_com_1580304812_588560751.png" style="padding-top: 75px;" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
      <div class="title">
        <div class="header__title">
          <%= link_to "Thanks Diary", root_path, class: "header__title--text" %>
        </div>
        <div class="header__right">
          <% if user_signed_in? %>
          <i class="fas fa-user-alt"></i>
            <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
          <i class="fas fa-user-alt"></i>
            <div class="log">
              <%= link_to "新規投稿", new_post_path, class: "header__right--y" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--y2" %>
            </div>
          <% else %>
          <div class="header__title2">
            <%= link_to "ログイン", new_user_session_path, class: "header__right--yy" %>
            <%= link_to "新規登録", new_user_registration_path, class: "header__right--yy2" %>
          </div>
          <% end %>
        </div>
      </div>
    </header>
      <%= yield %>
  </body>
</html>
